<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 

</head>
<body>
    
    <div class="ui fixed  pointing menu inverted menu">
        <div class="ui container ">
            <div class="header active item"><i class="rupee sign icon"></i></i>KALAKARI STREET</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New item</a>
        </div>
    </div>
